# Ignore environment variables
.env
env

# Ignore dependencies
node_modules/
.yarn/

# Ignore lock files (optional, if using Yarn)
yarn.lock
package-lock.json

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build output (if applicable)
dist/
build/

# Ignore OS-specific files
.DS_Store
Thumbs.db
